# Data Assembly

In [1]:
import pandas as pd
import numpy as np

In [2]:
DJI = pd.read_csv(
    '~/Git/MachineLearningAndBigDataWithR/Data/^DJIMonthly.csv'
    , sep = ',')
SP500 = pd.read_csv(
    '~/Git/MachineLearningAndBigDataWithR/Data/^GSPCMonthly.csv'
    , sep = ',')
FedFunds = pd.read_csv(
    '~/Git/MachineLearningAndBigDataWithR/Data/FEDFUNDS.csv'
    , sep = ',')
SS = pd.read_csv(
    '~/Git/MachineLearningAndBigDataWithR/Data/SSRetired.csv'
    , sep = ',')
CPI = pd.read_csv(
    '~/Git/MachineLearningAndBigDataWithR/Data/CPIAUCSL.csv'
    , sep = ',')

### DJI
https://finance.yahoo.com/quote/%5EDJI/history?period1=475826400&period2=1542520800&interval=1mo&filter=history&frequency=1mo

In [3]:
#DJI.head()
DJI.columns = ['date', 'DJIopen', 'DJIhigh', 'DJIlow', 'DJIclose', 'DJIadjClose', 'DJIvolume']
#DJI.head()

### S&P 500
https://finance.yahoo.com/quote/%5EGSPC/history?period1=-630957600&period2=1542520800&interval=1mo&filter=history&frequency=1mo

In [4]:
#SP500.head()
SP500.columns = ['date', 'SPopen', 'SPhigh', 'SPlow', 'SPclose', 'SPadjClose', 'SPvolume']
#SP500.head()

df = pd.merge(DJI,SP500, how = 'inner', on = 'date')
#df.head()

### Federal funds rate
https://fred.stlouisfed.org/series/FEDFUNDS

In [5]:
#FedFunds.head()
FedFunds.columns = ['date', 'fedFundRate']
#FedFunds.head()
df = pd.merge(df,FedFunds, how = 'inner', on = 'date')
#df.head()

### Retired social security filings
https://www.ssa.gov/OACT/ProgData/awards.html

In [6]:
#SS.head()
SS.columns = ['date', 'totalSSRetired', 'averageSSRetiredPay', 'totalMaleSSRetired', 'averageMaleSSRetiredPay', 'totalFemaleSSRetired', 'averageFemaleSSRetiredPay', 'DROPME']
SS.drop('DROPME', axis = 1, inplace=True)
#SS.head()

adjDate = SS['date'].str.split("-", n = 1, expand = True)
#adjDate.head()
adjDate['combined'] = np.where(adjDate[0] == 'Jan', '01-01'
                               , np.where(adjDate[0] == 'Feb', '02-01'
                                          , np.where(adjDate[0] == 'Mar', '03-01'
                                                    ,np.where(adjDate[0] == 'Apr', '04-01'
                                                             ,np.where(adjDate[0] == 'May', '05-01'
                                                                      ,np.where(adjDate[0] == 'Jun', '06-01'
                                                                               ,np.where(adjDate[0] == 'Jul', '07-01'
                                                                                        ,np.where(adjDate[0] == 'Aug', '08-01'
                                                                                                 ,np.where(adjDate[0] == 'Sep', '09-01'
                                                                                                          ,np.where(adjDate[0] == 'Oct', '10-01'
                                                                                                                   ,np.where(adjDate[0] == 'Nov', '11-01'
                                                                                                                            ,np.where(adjDate[0] == 'Dec', '12-01'
                                                                                                                                     , 0))))))))))))
adjDate['combined'] = '19' + adjDate[1] + '-' + adjDate['combined']

SS['date'] = adjDate['combined']

df = pd.merge(df,SS, how = 'inner', on = 'date')
#df.head()

### CPI - Consumer Price Index for All Urban Consumers: All Items
https://fred.stlouisfed.org/series/CPIAUCSL/

In [7]:
#CPI.head()
CPI.columns = ['date', 'cpi']
df = pd.merge(df,CPI, how = 'inner', on = 'date')
df.head()

,date,DJIopen,DJIhigh,DJIlow,DJIclose,DJIadjClose,DJIvolume,SPopen,SPhigh,SPlow,...,SPadjClose,SPvolume,fedFundRate,totalSSRetired,averageSSRetiredPay,totalMaleSSRetired,averageMaleSSRetiredPay,totalFemaleSSRetired,averageFemaleSSRetiredPay,cpi
0,1985-01-01,1277.719971,1305.099976,1266.890015,1286.770020,1286.770020,44450000,167.199997,180.270004,163.360001,...,179.630005,2673710000,8.35,"196,866",$452.13,"120,796",$523.47,"76,070",$338.85,105.7
1,1985-02-01,1276.939941,1307.530029,1263.910034,1284.010010,1284.010010,207300000,179.630005,183.949997,177.750000,...,181.179993,2194620000,8.50,"132,364",$431.50,"77,248",$511.91,"55,116",$318.81,106.3
2,1985-03-01,1285.339966,1309.959961,1242.819946,1266.780029,1266.780029,201050000,181.179993,183.889999,176.529999,...,180.660004,2153090000,8.58,"157,043",$431.54,"91,422",$508.91,"65,621",$323.76,106.8
3,1985-04-01,1264.800049,1290.300049,1245.800049,1258.060059,1258.060059,187110000,180.660004,183.610001,177.860001,...,179.830002,1981880000,8.27,"150,053",$427.86,"87,247",$505.74,"62,806",$319.66,107.0
4,1985-05-01,1257.180054,1320.790039,1235.530029,1315.410034,1315.410034,242250000,179.830002,189.979996,178.350006,...,189.550003,2350340000,7.97,"139,229",$427.62,"81,120",$505.40,"58,109",$319.04,107.2

## Write to file

In [8]:
df.to_csv(path_or_buf = '~/Git/MachineLearningAndBigDataWithR/Data/assembled.csv', sep=',')