In [20]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import datetime
from datetime import datetime
from time import mktime

## NEED:
* ^DJI
* SS Filings
* VG Retirement Funds (expiration dates nearest present)

# User input for iterating dataset creation

In [4]:
def epochDateConverter(period):
    """
    Returns epoch date
    parameters: period = date in mm-dd-yyyy format
    """
    month, day, year = map(date, period.split('-'))
    period = datetime.date(year, month, day)
    dateEpoch = int(mktime(period.timetuple()))

    return dateEpoch
    
    
def yahooFinance(startDateEpoch, endDateEpoch, ticker, interval):
    """
    Avoids using Yahoo Finance API as many pages continue to kill and limit access
    """
    pageLink = 'https://finance.yahoo.com/quote/{ticker}/history?period1={startDateEpoch}&period2={endDateEpoch}&interval={interval}&filter=history&frequency={interval}'.format(ticker = ticker,startDateEpoch = startDateEpoch, endDateEpoch = endDateEpoch, interval = interval)
    
    pageResponse = requests.get(pageLink)
    pageContent = BeautifulSoup(pageResponse.content, 'html.parser')
    tablesBody = pageContent.find_all('tbody')[0]
    
    # Table content
    bodyTags = tablesBody.select("span")
    bodies = [i.get_text() for i in bodyTags]
    bodies = np.reshape(bodies,(int((len(bodies) / 7)),7))
    bodiesDF = pd.DataFrame(bodies)
    
    DF = pd.DataFrame({'Date': bodiesDF[0], 'Open': bodiesDF[1], 
                'High':bodiesDF[2], 'Low':bodiesDF[3], 
                'Close':bodiesDF[4], 'AdjClose':bodiesDF[5], 
                'Volume':bodiesDF[6]})
    return DF

startDate = input('Enter the start date of interest (mm-dd-yyyy): ')
startDateEpoch = epochDateConverter(startDate)
    
endDate = input('Enter the end date of interest (mm-dd-yyyy): ')
endDateEpoch = epochDateConverter(endDate)
    
interval = input('Enter 1d for daily, 1wk for weekly, and 1mo for monthly: ')
ticker = input('Enter the ticker symbol of interest: ')

In [ ]:
ticker = input('Enter the ticker symbol of interest: ')
pageLink = 'https://finance.yahoo.com/quote/{ticker}/history?period1=1509422400&period2=1540958400&interval=1d&filter=history&frequency=1d'.format(ticker = ticker)
pageLink

## DJI

In [2]:
pageLink = 'https://finance.yahoo.com/quote/^DJI/history?period1=1509422400&period2=1540958400&interval=1d&filter=history&frequency=1d'
pageResponse = requests.get(pageLink)
pageContent = BeautifulSoup(pageResponse.content, 'html.parser')
tablesHead = pageContent.find_all('thead')[0]
tablesBody = pageContent.find_all('tbody')[0]

In [3]:
# Table headings
headingTags = tablesHead.select("span")
headings = [i.get_text() for i in headingTags]
# Table content
bodyTags = tablesBody.select("span")
bodies = [i.get_text() for i in bodyTags]
bodies = np.reshape(bodies,(int((len(bodies) / 7)),7))
bodiesDF = pd.DataFrame(bodies)

In [4]:
DJI = pd.DataFrame({'Date': bodiesDF[0], 'Open': bodiesDF[1], 
                    'High':bodiesDF[2], 'Low':bodiesDF[3], 
                    'Close':bodiesDF[4], 'AdjClose':bodiesDF[5], 
                    'Volume':bodiesDF[6]})

In [5]:
DJI.head()

,Date,Open,High,Low,Close,AdjClose,Volume
0,"Oct 31, 2018","25,008.82","25,336.55","25,008.82","25,115.76","25,115.76","448,930,000"
1,"Oct 30, 2018","24,482.04","24,906.68","24,415.69","24,874.64","24,874.64","470,050,000"
2,"Oct 29, 2018","24,818.98","25,040.58","24,122.23","24,442.92","24,442.92","443,850,000"
3,"Oct 26, 2018","24,770.25","24,916.16","24,445.19","24,688.31","24,688.31","505,310,000"
4,"Oct 25, 2018","24,736.54","25,104.29","24,645.56","24,984.55","24,984.55","439,670,000"

## Social Security

In [7]:
pageLink = 'https://www.ssa.gov/policy/docs/quickfacts/stat_snapshot/'
pageResponse = requests.get(pageLink)
pageContent = BeautifulSoup(pageResponse.content, 'html.parser')
pageResponse

In [59]:
SSTable = pageContent.find_all(id = 'table1')
SSTable[0].find('thead')

<thead>
<tr>
<th class="stubHeading" scope="col">Type of beneficiary</th>
<th scope="col">Total</th>
<th scope="col">Social Security only</th>
<th scope="col"><abbr class="spell">SSI</abbr> only</th>
<th scope="col">Both Social Security and <abbr class="spell">SSI</abbr></th>
</tr>
</thead>

In [62]:
print(SSTable[0].prettify())

<div class="table clear" id="table1">
 <table>
  <caption>
   <span class="tableNumber">
    Table 1.
   </span>
   Number of people receiving Social Security, Supplemental Security Income (
   <abbr class="spell">
    SSI
   </abbr>
   ), or both, September 2018 (in thousands)
  </caption>
  <colgroup span="1" style="width:15em">
  </colgroup>
  <colgroup span="4" style="width:10em">
  </colgroup>
  <thead>
   <tr>
    <th class="stubHeading" scope="col">
     Type of beneficiary
    </th>
    <th scope="col">
     Total
    </th>
    <th scope="col">
     Social Security only
    </th>
    <th scope="col">
     <abbr class="spell">
      SSI
     </abbr>
     only
    </th>
    <th scope="col">
     Both Social Security and
     <abbr class="spell">
      SSI
     </abbr>
    </th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <th class="stub1" scope="row">
     All beneficiaries
    </th>
    <td>
     67,677
    </td>
    <td>
     59,523
    </td>
    <td>
     5,427
    </td>
    <td>
     2,727
    </td>
   </tr>
   <tr>
    <th class="stub0" scope="row">
     Aged 65 or older
    </th>
    <td>
     47,719
    </td>
    <td>
     45,461
    </td>
    <td>
     991
    </td>
    <td>
     1,267
    </td>
   </tr>
   <tr>
    <th class="stub0" scope="row">
     Disabled, under age 65
     <sup>
      a
     </sup>
    </th>
    <td>
     13,699
    </td>
    <td>
     7,803
    </td>
    <td>
     4,436
    </td>
    <td>
     1,461
    </td>
   </tr>
   <tr>
    <th class="stub0" scope="row">
     Other
     <sup>
      b
     </sup>
    </th>
    <td>
     6,259
    </td>
    <td>
     6,259
    </td>
    <td>
     . . .
    </td>
    <td>
     . . .
    </td>
   </tr>
  </tbody>
  <tfoot>
   <tr>
    <td class="firstNote" colspan="5">
     SOURCES: Social Security Administration, Master Beneficiary Record and Supplemental Security Record, 100 percent data.
    </td>
   </tr>
   <tr>
    <td class="note" colspan="5">
     NOTES: Social Security beneficiaries who are entitled to a primary and a secondary benefit (dual entitlement) are counted only once in this table.
     <abbr class="spell">
      SSI
     </abbr>
     counts include recipients of federal
     <abbr class="spell">
      SSI
     </abbr>
     , federally administered state supplementation, or both.
    </td>
   </tr>
   <tr>
    <td class="note" colspan="5">
     . . . = not applicable.
    </td>
   </tr>
   <tr>
    <td class="note" colspan="5">
     a. Includes children receiving
     <abbr class="spell">
      SSI
     </abbr>
     based on their own disability.
    </td>
   </tr>
   <tr>
    <td class="note" colspan="5">
     b. Social Security beneficiaries who are neither aged nor disabled (for example, early retirees, young survivors).
    </td>
   </tr>
   <tr>
    <td class="lastNote" colspan="5">
     CONTACT:
     <span class="nobr">
      (410) 965-0090
     </span>
     or
     <a href="mailto:statistics@ssa.gov">
      statistics@ssa.gov
     </a>
     .
    </td>
   </tr>
  </tfoot>
 </table>
</div>

In [19]:
headings = [i.get_text() for i in bodyTags]

[<th class="stubHeading" scope="col">Type of beneficiary</th>,
 <th scope="col">Total</th>,
 <th scope="col">Social Security only</th>,
 <th scope="col"><abbr class="spell">SSI</abbr> only</th>,
 <th scope="col">Both Social Security and <abbr class="spell">SSI</abbr></th>,
 <th class="stub1" scope="row">All beneficiaries</th>,
 <th class="stub0" scope="row">Aged 65 or older</th>,
 <th class="stub0" scope="row">Disabled, under age 65 <sup>a</sup></th>,
 <th class="stub0" scope="row">Other <sup>b</sup></th>,
 <th class="stubHeading" id="c1" rowspan="2">Type of beneficiary</th>,
 <th class="spanner" colspan="2" id="c2">Beneficiaries</th>,
 <th id="c3" rowspan="2">Total monthly benefits (millions of dollars)</th>,
 <th id="c4" rowspan="2">Average monthly benefit (dollars)</th>,
 <th headers="c2" id="c5">Number (thousands)</th>,
 <th headers="c2" id="c6">Percent</th>,
 <th class="stub3" headers="c1" id="r1">Total</th>,
 <th class="stub0" headers="c1" id="r2">Old-Age and Survivors Insurance</th>,
 <th class="stub1" headers="r2 c1" id="r3">Retirement benefits</th>,
 <th class="stub2" headers="r2 r3 c1" id="r4">Retired workers</th>,
 <th class="stub2" headers="r2 r3 c1" id="r5">Spouses of retired workers</th>,
 <th class="stub2" headers="r2 r3 c1" id="r6">Children of retired workers</th>,
 <th class="stub1" headers="r2 c1" id="r7">Survivor benefits</th>,
 <th class="stub2" headers="r2 r7 c1" id="r8">Children of deceased workers</th>,
 <th class="stub2" headers="r2 r7 c1" id="r9">Widowed mothers and fathers</th>,
 <th class="stub2" headers="r2 r7 c1" id="r10">Nondisabled <span class="nobr">widow(er)s</span></th>,
 <th class="stub2" headers="r2 r7 c1" id="r11">Disabled <span class="nobr">widow(er)s</span></th>,
 <th class="stub2" headers="r2 r7 c1" id="r12">Parents of deceased workers</th>,
 <th class="stub0" headers="c1" id="r13">Disability Insurance</th>,
 <th class="stub1" headers="r13 c1" id="r14">Disabled workers</th>,
 <th class="stub1" headers="r13 c1" id="r15">Spouses of disabled workers</th>,
 <th class="stub1" headers="r13 c1" id="r16">Children of disabled workers</th>,
 <th class="stubHeading" rowspan="2" scope="colgroup">Age</th>,
 <th class="spanner" colspan="2" scope="colgroup">Recipients</th>,
 <th rowspan="2" scope="colgroup">Total payments <sup>a</sup> (millions of dollars)</th>,
 <th rowspan="2" scope="colgroup">Average monthly payment <sup>b</sup> (dollars)</th>,
 <th scope="col">Number (thousands)</th>,
 <th scope="col">Percent</th>,
 <th class="stub1" scope="row">All recipients</th>,
 <th class="stub0" scope="row">Under 18</th>,
 <th class="stub0" scope="row"><span class="nobr">18–64</span></th>,
 <th class="stub0" scope="row">65 or older</th>]

In [25]:
year = list(range(2012,2019))
year
month = ["%.2d" % i for i in range(1,13)]
month

for i in year:
    for j in month:
        url = 'https://www.ssa.gov/policy/docs/quickfacts/stat_snapshot/{year}-{month}'.format(year = i, month = j)
        
dateURL = pd.DataFrame({'year': year, 'month': month})

SyntaxError: can't assign to function call (<ipython-input-25-2e5b68104fc0>, line 8)

In [26]:
dateURL = pd.DataFrame({'year': year, 'month': month})

ValueError: arrays must all be same length

In [22]:
SS = pd.DataFrame({'Date': bodiesDF[0], 'TypeOfBeneiciary': bodiesDF[1], 
                    'Total':bodiesDF[2], 'SocialSecurityOnly':bodiesDF[3], 
                    'SSIOnly':bodiesDF[4], 'BothSocialSecurityAndSSI':bodiesDF[5])

SyntaxError: invalid syntax (<ipython-input-22-f903f69c25cb>, line 3)

In [21]:
url = pd.DataFrame[['a', 'b', 'c'],['d', 'e', 'f']]
url

TypeError: 'type' object is not subscriptable